// Colors
$black: #363744;
$white: #fff;
$gray: #b3b0ba;
$gray-dark: #3d3556;
$purple: #2b233e;
$red-dark: #d94b4f;
$red: #ff5352;
$red-light: #EF6D58;
$brown-light: #85695c;
$brown: #391400;
$pink: #fbd0be;
$pink-light: #fff0e9;
$pink-dark: #93705e;
$pink-light-dark: #F9E5DA;

// Gutters
$gutter: 30px;
$gutterM: 20px;
$gutterS: 10px;

// Sizes
$mobile: 480px;
$table: 720px;
$desktop: 1160px;
$desktopL: 1220px;
$desktopXL: 1440px;