$blue: #2196F3;
$middle-dark-blue: rgb(75, 75, 255);
$dark-blue: rgb(125, 125, 255);
$main-back-color: #F5F4FA;
$second-back-color: #2F303A;
$black-with-zero-opacity: rgba(0, 0, 0, 0);
$gray-with-opacity: rgba(89, 89, 97, 0.8);
$gray: #afb0b8;
$white: #fff;
$black: #000000;