@import '../global/variables.scss';

.about-us {
    width: 100%;

    &-block {
        width: 1170px;
        margin: 0 auto;

        h2 {
            text-align: center;
        }

        .about-us-images {
            display: flex;
            justify-content: center;
            margin: 75px 0 75px 0;

            img {
                display: block;
                margin: 0 15px;
            }

            div {
                position: relative;
                display: inline-block;

                .desc {
                    background-color: $gray-with-opacity;
                    text-align: center;
                    position: absolute;
                    width: 370px;
                    bottom: 0px;
                    right: 15px;
                    padding: 5px 10px;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}