@import '../global/variables.scss';

.our-team {
    width: 100%;
    background-color: $main-back-color;
    padding: 50px 0 100px 0;

    &-block {
        width: 1170px;
        margin: 0 auto;

        .our-team-title {
            text-align: center;
        }

        .content {
            display: flex;
            justify-content: space-between;

            .person-block {
                background-color: white;
                text-align: center;

                div {
                    p {
                        margin: 0;
                    }

                    .name {
                        font-weight: 600;
                        margin: 25px 0 5px 0;
                    }

                    .role {
                        color: gray;
                    }
                }

                .social {
                    margin: 25px 0;

                    svg {
                        .back {
                            fill: white;
                            fill-opacity: 0.1;
                        }

                        g {
                            & > path {
                                fill: $gray;
                            }
                        }

                        &:hover {
                            g {
                                & > path {
                                    fill: $white;
                                }
                            }

                            .back {
                                fill: $blue;
                                fill-opacity: 1;
                            }
                        }
                    }
                }

                .person {
                    width: 270px;
                }
            }
        }
    }
}