@import '../global/variables.scss';

.service {
    background-image: url(../images/header-bg.png);
    color: white;
    padding: 125px 0;
    text-align: center;

    &-block {
        width: 670px;
        margin: 0 auto;

        h1 {
            font-size: 50px;
        }
    }
}